<h2>Select Table</h2>
<md-grid-list cols="2">
  <md-grid-tile
    *ngFor="let table of tables; let i = index;"
    (click)="selectTable.emit(table.id)"
  >
    <img [src]="table.img">
    <!--img src="https://upload.wikimedia.org/wikipedia/commons/a/ae/Wiener-Schnitzel02.jpg"
      alt="img"-->
    <md-grid-tile-footer
      [class.occupied-table]="occupiedTableIds.includes(table.id)"
      [class.selected-table]="table.id == selectedTableId"
    >
      {{table.nrofSeats}} x <md-icon>event_seat</md-icon>
    </md-grid-tile-footer>
  </md-grid-tile>
</md-grid-list>